<%- include('../layouts/header', { title: 'New Checklist' }) %>

<%- include('../layouts/menu') %>

<section class="section">
    <div class="container">
        <h1 class="title size-4">New List</h1>

        <%- include('form', { url: '/checklists?_method=post', checklist: checklist}) %>
    </div>
</section>

<%- include('../layouts/footer') %>
